[submodule "back-end/bloco-24-nodejs-orm-e-autenticacao/dia-3-JWT/implementando-jwt/back-end/bloco-24-nodejs-orm-e-autenticacao/dia-3-JWT/implementando-jwt/nodejs-jwt-base-project"]
	path = back-end/bloco-24-nodejs-orm-e-autenticacao/dia-3-JWT/implementando-jwt/back-end/bloco-24-nodejs-orm-e-autenticacao/dia-3-JWT/implementando-jwt/nodejs-jwt-base-project
	url = https://github.com/Anderson-Alencar/exercicios-trybe
